<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'>
        <title>Film Line Type</title>
        <link rel = 'stylesheet' type = 'text/css' href = '../static/css/index.css'>
        <script src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
        <script src = '../static/js/index.js'></script>
    </head>
    <body>
        <div class = 'container'>
            <h1>Film Line Type</h1>
            <div id = 'timer'>180</div>
            <div class = 'scriptContainer'>
                <span class = 'text-word'>
                    <span class = 'text-char correct'>T</span>
                    <span class = 'text-char incorrect'>h</span>
                    <span class = 'text-char'>i</span>
                    <span class = 'text-char'>s</span>
                    <span class = 'text-char'> </span>
                </span>
                <span class = 'text-word'>
                    <span class = 'text-char'>w</span>
                    <span class = 'text-char'>o</span>
                    <span class = 'text-char'>r</span>
                    <span class = 'text-char'>d</span>
                    <span class = 'text-char'> </span>
                </span>
                <span class = 'text-word'>
                    <span class = 'text-char'>i</span>
                    <span class = 'text-char'>s</span>
                    <span class = 'text-char'> </span>
                </span>
                <span class = 'text-word'>
                    <span class = 'text-char'>M</span>
                    <span class = 'text-char'>o</span>
                    <span class = 'text-char'>v</span>
                    <span class = 'text-char'>i</span>
                    <span class = 'text-char'>e</span>
                    <span class = 'text-char'> </span>
                </span>
                <span class = 'text-word'>
                    <span class = 'text-char'>L</span>
                    <span class = 'text-char'>i</span>
                    <span class = 'text-char'>n</span>
                    <span class = 'text-char'>e</span>
                    <span class = 'text-char'> </span>
                </span>
                <span class = 'text-word'>
                    <span class = 'text-char'>T</span>
                    <span class = 'text-char'>y</span>
                    <span class = 'text-char'>p</span>
                    <span class = 'text-char'>e</span>
                    <span class = 'text-char'>.</span>
                </span>
            </div>
            <div id = 'contents-bar'>
                <input type = 'text' name = 'text-input' id = 'text-input'>
                <div id = 'indicator-wpm'><span id = 'wpm-value'>50</span> WPM</div>
                <div id = 'indicator-accurate'>ACC <span id = 'acc-value'>100%</span></div>
            </div>
        </div>
    </body>
</html>