<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'>
        <title>Film Line Type</title>
        <link rel = 'stylesheet' type = 'text/css' href = '../static/css/index.css'>
        <script src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
        <script src = '../static/js/index.js' defer></script>
    </head>
    <body>
        <div class = 'container'>
            <h1><span id = 'filmline'>Film Line</span> Type</h1>
            <div id = 'timer'></div>
            <div id = 'scriptContainer'>
            </div>
            <div id = 'contents-bar'>
                <input type = 'text' name = 'text-input' id = 'text-input' onkeydown="if(window.event.keyCode==65,66,67,68,69,70){timer()}">
                <div id = 'indicator-wpm'><span id = 'wpm-value'>50</span> WPM</div>
                <div id = 'indicator-accurate'>ACC <span id = 'acc-value'>100%</span></div>
            </div>
        </div>
    </body>
</html>